.words
    padding 10px 20px
    border-radius 3px
    background rgb(253 207 70)
    position relative
    .words-remove
        position absolute
        right 0
        top 0
        color #c03030
        cursor pointer
        width 20px
        height @width